
@{
    ViewBag.Title = "Hakkimda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12">
    <h2>Hakkimda</h2>
    
    <p>2 öğrenci tarafından düşünülerek yapılmış mütevazi bir haber sitesi.</p>
</div>
