@model IEnumerable<Haber_Sitesi.Models.Yazi>
@{
    Layout = null;
}
<h5 class="card-header">@Haber_Sitesi.Resource.Languages.LastPosts</h5>
<div class="card-body">
    <div class="row">
        <div class="col-lg-6">
            @foreach (var item in Model)
            {
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="/Home/YaziDetay/@item.YaziID">@item.Baslik</a>
                    </li>

                </ul>
            }

        </div>

    </div>
</div>


